<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Curso</title>
</head>
<body>
    <form action="/cursoFormulario" method="post">
        <p>Curso: <input type="text" name="curso"></p>
        <p>Camada: <input type="number" name="camada"></p>
        
        <input type="submit" name="Enviar">



    </form>


</body>
</html>